.idea
.zip
train_cnn_cifar10/data/
train_cnn_cifar10/output/
test_cifar10_cpp/libtorch-shared-with-deps-latest.zip
test_cifar10_cpp/libtorch
test_cifar10_cpp/build
test_cifar10_cpp/libtorch-win-shared-with-deps-latest

test_cifar10_cpp/libtorch_linux_cuda9.2/
test_cifar10_cpp_eclipse/
train_cnn_cifar10/__pycache__/
train_cnn_cifar10/output_bk/
test_cifar10_cpp/libtorch_1.1_cuda92
test_cifar10_cpp/libtorch_1.1_cpu
